<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileLister.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <FileLister.My.MySettings>
            <setting name="MCCProgGroups" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Measurement Computing</string>
                        <string>GPIB-488</string>
                        <string>ComputerBoards</string>
                        <string>Universal Library</string>
                        <string>Measurement Computing Corp.</string>
                        <string>DASYLab Drivers|Measurement Computing\DASYLab Drivers</string>
                        <string>DASYLab|National Instruments\DASYLab</string>
                        <string>DASYLab</string>
                        <string>IOT</string>
                        <string>IOtech</string>
                        <string>IOtech Inc.</string>
                        <string>SoftWIRE Technology</string>
                        <string>SoftWIRE for Visual Studio.Net</string>
                        <string>Cole-Parmer Instrument Company</string>
                        <string>Cole-Parmer</string>
                        <string>Cole Parmer</string>
                        <string>CyberResearch</string>
                        <string>Meilhaus Electronic</string>
                        <string>National Instruments\MStudioVS2003</string>
                        <string>National Instruments\MStudioVS2005</string>
                        <string>National Instruments\NI-488.2</string>
                        <string>Measurement Computing Corporation</string>
                        <string>Measurement Computing </string>
                        <string>SoftWIRE Technology LLC</string>
                        <string>Advantech</string>
                        <string>Omega Engineering</string>
                        <string>Data Translation</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PathKeyNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Path</string>
                        <string>InstallDir</string>
                        <string>InstallPath</string>
                        <string>RootDir</string>
                        <string>AppRootDir</string>
                        <string>ProductDir</string>
                        <string>BaseDir</string>
                        <string>CurrentPath</string>
                        <string>GpibConfigurePath</string>
                        <string>SuiteLocation</string>
                        <string>Location</string>
                        <string>NISHAREDDIR</string>
                        <string>NISHAREDDIR64</string>
                        <string>VsCommonDir</string>
                        <string>JavaHome</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VersionKeyNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Version</string>
                        <string>CurrentVersion</string>
                        <string>ProductVersion</string>
                        <string>VersionString</string>
                        <string>Build</string>
                        <string>CurrentMxsVersion</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomRegNodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ULx for LabVIEW|National Instruments\LabVIEW\</string>
                        <string>ULx for LabVIEW|National Instruments\Common\Installer</string>
                        <string>mDNS Responder|National Instruments\mDNS Responder</string>
                        <string>Bonjour|Apple Inc.\Bonjour</string>
                        <string>Internet Explorer|SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\IEXPLORE.EXE</string>
                        <string>DirectX|NONE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomSubDirs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ULx for LabVIEW|vi.lib\ULx</string>
                        <string>ULx for LabVIEW|Examples\ULx</string>
                        <string>ULx for LabVIEW|ULx</string>
                        <string>ULx for LabVIEW|resource\objmgr?ULx*</string>
                        <string>Instacal &amp; Universal Library|%TEMP%\AndroidLib</string>
                        <string>InstaCal|%TEMP%\AndroidLib</string>
                        <string>DotNet|Shared</string>
                        <string>DotNet|Shared\1033</string>
                        <string>DotNet|OLClassLib</string>
                        <string>DotNet|OLClassLib\Framework 2.0 Assemblies</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MCCDriverReg" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CBIUSB</string>
                        <string>CBUL32</string>
                        <string>cbulwdm</string>
                        <string>gpibwdm</string>
                        <string>ICSUSBDEV</string>
                        <string>ICSUSBLDR</string>
                        <string>Ntgpibdd</string>
                        <string>pcidaqlib</string>
                        <string>STLITE</string>
                        <string>USB500</string>
                        <string>NIPALK</string>
                        <string>GpibPrtK</string>
                        <string>NIPALUSB</string>
                        <string>CEC488</string>
                        <string>USBDAQLIB</string>
                        <string>USBLDDAQLIB</string>
                        <string>MCCUSB</string>
                        <string>pdaq3kld</string>
                        <string>daqx600u</string>
                        <string>PDAQ3K</string>
                        <string>mcsfiltr</string>
                        <string>ni488k</string>
                        <string>mccfwld</string>
                        <string>mccusbfn</string>
                        <string>adsfwld</string>
                        <string>adsusbfn</string>
                        <string>winusb</string>
                        <string>MCUSB</string>
                        <string>mcpci</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MCCDriverNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CBUL32.SYS</string>
                        <string>cbulwdm.sys</string>
                        <string>gpibwdm.sys</string>
                        <string>pdaq3kld.sys</string>
                        <string>daqx600u.sys</string>
                        <string>USB488.sys</string>
                        <string>USB488a.sys</string>
                        <string>Ntgpibdd.sys</string>
                        <string>pcidaqlib.sys</string>
                        <string>usb500.sys</string>
                        <string>nipalk.sys</string>
                        <string>nipalusb.sys</string>
                        <string>usbdaqlib.sys</string>
                        <string>usblddaqlib.sys</string>
                        <string>mccusb.sys</string>
                        <string>cbiusb.sys</string>
                        <string>GPIBPRTK.SYS</string>
                        <string>MCSFILTR.SYS</string>
                        <string>STLITE.SYS</string>
                        <string>ni488k.sys</string>
                        <string>mccfwld.sys</string>
                        <string>mccusbfn.sys</string>
                        <string>adsfwld.sys</string>
                        <string>adsusbfn.sys</string>
                        <string>WdfCoInstaller01007.dll</string>
                        <string>WinUSBCoInstaller.dll</string>
                        <string>winusb.sys</string>
                        <string>mcusb.sys</string>
                        <string>mcpci.sys</string>
                        <string>USB_1208HS.rbf</string>
                        <string>USB_255x.rbf</string>
                        <string>USB_1608G.rbf</string>
                        <string>USB_2020.bin</string>
                        <string>USB_254X.RBF</string>
                        <string>USB_26XX.RBF</string>
                        <string>USB_CTR.bin</string>
                        <string>USB_231.cfg</string>
                        <string>USB_234.cfg</string>
                        <string>USB_1608G_2.rbf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MCCDriverCategory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>cbul32</string>
                        <string>mccusb</string>
                        <string>daqlib</string>
                        <string>cbi95</string>
                        <string>gpib488</string>
                        <string>mccfwld</string>
                        <string>mc7000</string>
                        <string>daqflex</string>
                        <string>mcusb</string>
                        <string>mcpci</string>
                        <string>mccusbfn</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DevelopmentProgs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Visual Studio|Microsoft\VisualStudio</string>
                        <string>Visual Basic|Microsoft\Visual Basic</string>
                        <string>Delphi|Borland\Delphi</string>
                        <string>LabVIEW|National Instruments\LabVIEW</string>
                        <string>Measurement Studio|National Instruments\Measurement Studio</string>
                        <string>HP Vee|Hewlett-Packard\VEE</string>
                        <string>Android Studio|Android Studio</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProdNameKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ProductName</string>
                        <string>Setup\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Platforms" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SOFTWARE\Microsoft\NET Framework Setup\Full</string>
                        <string>SOFTWARE\Microsoft\NET Framework Setup\NDP</string>
                        <string>SOFTWARE\Microsoft\.NETCompactFramework</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Dependencies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Internet Explorer|Microsoft\Internet Explorer</string>
                        <string>DirectX|Microsoft\DirectX</string>
                        <string>mDNS Responder|National Instruments\mDNS Responder</string>
                        <string>Bonjour|Apple Inc.\Bonjour</string>
                        <string>Git|GitForWindows</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\7.0</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\7.1</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\8.0</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\8.2</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\8.5</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\8.6</string>
                        <string>LabVIEW Run-Time|National Instruments\LabVIEW Run-Time\9.0</string>
                        <string>Microsoft Silverlight|Microsoft\Silverlight</string>
                        <string>Java Development Kit|JavaSoft\Java Development Kit</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OtherMCCEntries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Universal Library|Universal Library</string>
                        <string>Satellite Library|Satellite Library</string>
                        <string>UL Framework Reference|Microsoft\.NETFramework\AssemblyFolders\Measurement Computing</string>
                        <string>SoftWIRE Framework Reference|Microsoft\.NETFramework\AssemblyFolders\SoftWIRE for Visual Studio.Net</string>
                        <string>GPIB-488 Framework Reference|Microsoft\.NETFramework\AssemblyFolders\Measurement Computing4882</string>
                        <string>DAQFlex Framework Reference|Microsoft\.NETFramework\AssemblyFolders\DAQFlex</string>
                        <string>DAQLog Framework Reference|Microsoft\.NETFramework\AssemblyFolders\DAQLog</string>
                        <string>UL Framework ReferenceEx|Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\Measurement Computing</string>
                        <string>DT Framework ReferenceEx|Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\DT-Open Layers</string>
                        <string>DAQFlex Framework ReferenceEx|Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\DAQFlex</string>
                        <string>DAQLog Framework ReferenceEx|Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\DAQLog</string>
                        <string>GPIB-488 Framework ReferenceEx|Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\Measurement Computing4882</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MCCMenu" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Measurement Computing</string>
                        <string>Universal Library</string>
                        <string>GPIB-488</string>
                        <string>GPIB-32 Library</string>
                        <string>SoftWIRE Technology</string>
                        <string>Computer Boards</string>
                        <string>ComputerBoards</string>
                        <string>GPIB Library</string>
                        <string>eZ-Analyst Zonicbook</string>
                        <string>IOtech eZ</string>
                        <string>Cole Parmer</string>
                        <string>ColeParmer</string>
                        <string>National Instruments\Measurement Studio</string>
                        <string>CyberResearch</string>
                        <string>RedLab</string>
                        <string>Advantech Automation</string>
                        <string>Omega Engineering</string>
                        <string>VI Service Network</string>
                        <string>Universal Test Suite</string>
                        <string>Data Translation, Inc</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GACEntries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Mcc4882</string>
                        <string>MccDaq</string>
                        <string>MccDaq.ScanComponents</string>
                        <string>CRYPKEYCOMLib</string>
                        <string>ISoftWIRE</string>
                        <string>SEANCELib</string>
                        <string>SoftWIRECommon</string>
                        <string>DAQFlex</string>
                        <string>MeasurementComputing.CeaContainer</string>
                        <string>MeasurementComputing.CeaFoundation</string>
                        <string>MeasurementComputing.HAL</string>
                        <string>MeasurementComputing.HAL.DaqFLEX</string>
                        <string>MeasurementComputing.HAL.DataLogger</string>
                        <string>MeasurementComputing.HAL.DataServer</string>
                        <string>MeasurementComputing.PropertyBag</string>
                        <string>MeasurementComputing.SAPI</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SharedFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DAQFlex|winusb.dll</string>
                        <string>Instacal|cbw32.dll</string>
                        <string>Instacal|WdfCoInstaller01007.dll</string>
                        <string>Instacal|WinUSBCoInstaller.dll</string>
                        <string>GPIB|gpib.ini</string>
                        <string>GPIB|gpib-32.dll</string>
                        <string>GPIB|gpib488.dll</string>
                        <string>GPIB|GpibConf.dll</string>
                        <string>GPIB|gpibenum.dll</string>
                        <string>GPIB|gpib-vdd.dll</string>
                        <string>GPIB|ni488.dll</string>
                        <string>GPIB|ni488cip.dll</string>
                        <string>GPIB|nipal32.dll</string>
                        <string>GPIB|nipalp.dll</string>
                        <string>GPIB|nipalsm.exe</string>
                        <string>GPIB|nipalu.dll</string>
                        <string>GPIB|nipalut.dll</string>
                        <string>GPIB|nipalpg.dll</string>
                        <string>GPIB|NIPALfw.SYS</string>
                        <string>GPIB|ni488config.dll</string>
                        <string>GPIB|ni488enumsvc.dll</string>
                        <string>GPIB|drivers\ni488lock.sys</string>
                        <string>GPIB|drivers\nipalfw.sys</string>
                        <string>GPIB|drivers\nipalfwed.sys</string>
                        <string>GPIB|drivers\nipalfwedl.sys</string>
                        <string>GPIB|drivers\nipalusbed.sys</string>
                        <string>GPIB|drivers\nipalusbedl.sys</string>
                        <string>GPIB|drivers\nipbcfk.sys</string>
                        <string>GPIB|ieee_32m.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProgramSubDirs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GPIB-488|Utilities</string>
                        <string>Universal Test|FileLister</string>
                        <string>Universal Test|7-Zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NIGacEntries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NationalInstruments.Analysis.Professional</string>
                        <string>NationalInstruments.Common</string>
                        <string>NationalInstruments.Common.Native</string>
                        <string>NationalInstruments.Design</string>
                        <string>NationalInstruments.NetworkVariable</string>
                        <string>NationalInstruments.NetworkVariable.resources</string>
                        <string>NationalInstruments.NI4882</string>
                        <string>NationalInstruments.UI</string>
                        <string>NationalInstruments.UI.Styles3D</string>
                        <string>NationalInstruments.UI.WebForms</string>
                        <string>NationalInstruments.UI.WindowsForms</string>
                        <string>NationalInstruments.MeasurementStudio.CodeGeneration</string>
                        <string>NationalInstruments.MeasurementStudio.Interfaces80</string>
                        <string>NationalInstruments.MeasurementStudio.Wizard</string>
                        <string>policy.7.0.NationalInstruments.Common</string>
                        <string>policy.7.0.NationalInstruments.DotNET.Common</string>
                        <string>policy.7.0.NationalInstruments.Interfaces</string>
                        <string>policy.7.0.NationalInstruments.ParameterAssistant</string>
                        <string>policy.7.0.NationalInstruments.VSDesigner</string>
                        <string>policy.7.1.NationalInstruments.Common</string>
                        <string>policy.7.1.Nationalinstruments.DotNET.Common</string>
                        <string>policy.7.1.NationalInstruments.Interfaces</string>
                        <string>policy.7.1.NationalInstruments.ParameterAssistant</string>
                        <string>policy.7.1.NationalInstruments.VSDesigner</string>
                        <string>policy.8.0.NationalInstruments.Common</string>
                        <string>policy.8.1.NationalInstruments.Common</string>
                        <string>policy.8.1.NationalInstruments.Analysis.Professional</string>
                        <string>policy.8.1.NationalInstruments.Common.Native</string>
                        <string>policy.8.1.NationalInstruments.NetworkVariable</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PathsFromInstaller" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>QuickDAQ|QuickDAQ\</string>
                        <string>QuickDAQ|Utilities\</string>
                        <string>DotNet|Shared\</string>
                        <string>DotNet|Shared\1033\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DTDriverCategory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>_Kmdf_</string>
                        <string>_Kmd_</string>
                        <string>_kmd_</string>
                        <string>_km_</string>
                        <string>_Km_</string>
                        <string>dt9</string>
                        <string>dt3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DTGACEntries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DataTranslation.DtxDiscovery.Interop</string>
                        <string>Dtx.DT8824.Interop</string>
                        <string>Dtx.DT8837.Interop</string>
                        <string>Dtx.DtxMeasurement.Interop</string>
                        <string>OpenLayers.Base</string>
                        <string>OpenLayers.Controls</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DTSharedFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Omni CD|graph32.dll</string>
                        <string>Omni CD|oldaapi32.dll</string>
                        <string>Omni CD|olmem32.dll</string>
                        <string>Omni CD|DTAcq32.ocx</string>
                        <string>Omni CD|DTplot32.ocx</string>
                        <string>Omni CD|olmemsup.dll</string>
                        <string>Omni CD|oldsp32.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProgFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>National Instruments|DASYLab</string>
                        <string>National Instruments|ULx</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FileLister.My.MySettings>
    </applicationSettings>
</configuration>
